body {
	background-color: f1f1f1;	
}

.section {
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 20px;
	text-align: center;
}

img {
	height: 200px;
	border-radius: 50%;
	margin: 10px 10px 10px 10px;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3d669e;
}

#navbar li {
    float: left;
}

#navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:hover {
    background-color: #0c869b;
}

h2 {
	font-size: 18pt;
	color: #0c869b;
	text-align: center;
	padding: 18px 0 18px 0;
	margin: 0 0 10px 0;
}

table {
    width: 100%;
}

table, th, td {
    border: 2px solid #cecece;
    border-collapse: separate;
    text-align: center;
    table-layout: fixed;
}
.selected {
    background-color: #0c869b;
    font-weight: bold;
    color: white;
