#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3d669e;
}

#navbar li {
    float: left;
}

#navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:hover {
    background-color: #0c869b;
}

h2 {
	font-size: 18pt;
	color: #0c869b;
	text-align: center;
	padding: 18px 0 18px 0;
	margin: 0 0 10px 0;
    border-style: dotted;
    border-color: #3d669e;
}
